{% extends "gorozhane/base.html" %}

{% block content %}

<div class="content">

    <h2>{{ afisha.title }}</h2>
    <p>{{ afisha.date_added|date:'M d, Y H:i' }}</p>
    <div class="content_block">
        <p>{{ afisha.body|safe }}</p>
        <p>{{ afisha.file.url }}</p>
    </div>
  

    <div id="author">
                <p><img src="{{ afisha.author.avatar.url }}" height="160" align="bottom" /></p>
                <p valign="bottom">{{ afisha.author }}</p>
    </div>

</div>

{% endblock content %}