{% extends "gorozhane/base.html" %}

{% block content %}

<div class="content">

    <h2>Карта</h2><br>

    <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/20576/protvino/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Протвино</a><a href="https://yandex.ru/maps/20576/protvino/?l=sat&ll=37.213101%2C54.866025&source=constructorLink&um=constructor%3A52e8478a6b75b35e0303a40688d1bc1414b60dd1e3a96e9b70c1e806fc48296f&utm_medium=mapframe&utm_source=maps&z=15" style="color:#eee;font-size:12px;position:absolute;top:14px;">Карта Протвино с улицами и номерами домов онлайн — Яндекс Карты</a>
    
    <iframe src="https://yandex.ru/map-widget/v1/-/CCUBJFHDKC" width="1280" height="800" frameborder="1" allowfullscreen="true" style="position: relative;"></iframe></div>
 
</div>

{% endblock content %}