.header_menu {
    display: flex;
    margin-right: 5px;
    padding: 3px;
    margin-bottom: 20px;
    flex-direction: column
}
.header_menu_text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    width: 100%;
    background-image: url(media/header_cover.png);
}
a {
    text-decoration: none;
    color: #383838;
}
    a:active {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
        color: #383737;
    }

.title {
    color: #fff700;
    text-decoration: none;
}
    .title:hover {
        text-decoration: none;
        color: #fff700;
    }



#anons {
    width: 640px;
    margin: 7px;
}

#author {
    right: 0px;
    width: 80px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
body {
    background-color: #b4b4bb;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

     .content_block {
    display: flex;
    width: 100%;
    height: auto;
    object-fit: contain;
    flex-direction: column;
     }

.NewsBlock {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.NewsBlock_news {
    height: auto;
    width: 60%;
    border: groove;
    padding: 10px;
    border-color: #84deff;
    border-width: 1px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.NewsBlock_blog {
    height: auto;
    width: 40%;
    border: groove;
    padding: 10px;
    border-color: #84deff;
    border-width: 1px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top:20px; 
    margin-right:10px;
}
.heads {
    display: flex;
    justify-content: space-around;
}

img {
    min-width: 30%;
}

.site_logo {
    width: 100%;
    height: auto;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    overflow: hidden;
    margin-bottom: 30px;
}
    .site_logo:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        will-change: transform;
    }

footer {
    background-color: #000000;
}